/* my-app\src\index.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Vazirmatn, system-ui, sans-serif;
  background: #fafafa;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  text-decoration: none;
  color: inherit;
}