.Navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}

.Navbar button {
    border : none;
    background-color: white;
    padding: 8px 18px;
    cursor: pointer; 
    color: #777;
}

.Navbar button:hover {
  background-color: #f2f2f2;
  color:rgb(99, 61, 235);
}